#header{
    text-align: center;
    font-size: x-large;
}
.container{
    display: flex;
}
.container div{
    padding: 2%;
}
.containerm{
    padding: 2%;
    margin: 3%;
    border-style: groove;
    border-radius: 10px;
    background-color: lightblue;
}